# OS / editor
.DS_Store
*.swp
*.swo

# Archives / backups
*.tar.gz
*.zip
*.bak

# Large local genome/simulation files (keep local, do not push to GitHub)
ref/*.fa
sim/control/*.simseq.genome.fa
sim/patients/*.simseq.genome.fa
.venv/
