# OS / editor
.DS_Store
*.swp
*.swo

# Archives / backups
*.tar.gz
*.zip
*.bak

# Large genome/sim files kept outside git
ref/*.fa
sim/*.simseq.genome.fa
sim/*.fa

# Local-only large genome/simseq files
big_files_backup/
ref/*.fa
sim/*.simseq.genome.fa
